.m-btn {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    padding:0 16px;
    display:flex;
    align-items:center;
    border:none;
    outline:none;
    cursor:pointer;
    }
.m-btn:hover{
    background-color:#2FBE8E;
}
.m-btn .m-btn-icon {
    background-position: center;
}
.m-btn .btn-text{
    margin-left:8px;
}
.m-second-button {
    background-color: #bbbbbb;
    border-radius: 4px;
    color: #000000;
    padding: 16px;
    text-align: center;
    height: 40px;
    background-color: #ffffff;
    cursor:pointer;
}
.m-second-button:hover{
    background-color:#e9ebee;
}
    .m-btn-refresh {
        border: 1px solid #bbbbbb;
        background-image: url(/content/icon/refresh.png);
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        height: 40px;
        width: 40px;
    }
