.text-align-right{
    text-align:right;
}
.text-align-center {
    text-align: center;
<<<<<<< HEAD
}
a{
    text-decoration:none;
}
.m-row{
    margin-top:16px;
    display:flex;
    justify-content:space-between;
}
.m-label{
    margin-bottom:4px;
}
.form-item{
    width:48%;
}
.m-control{
    width:100%;
    box-sizing:border-box;
}
.select {
    padding: 0 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    height: 30px;
    box-sizing: border-box;
}
.form-select {
    padding: 0 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    height: 30px;
    width:100%;
    box-sizing: border-box;
=======
>>>>>>> 5536ef4de6f8cd5baa8bbe638ab9998d2d22fca5
}