.grid {
    overflow: auto;
    margin:16px;
    position:relative;

}
table {
    
    width: 100%;
    border-spacing: 0;
}

    table thead th, table tbody td {
        border-bottom: 1px solid #bbbbbb;
        height: 48px;
        padding: 0 10px;
        max-width: 100px;
        box-sizing: border-box;
        /*xử lý chấm chấm đuôi khi text dài*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
    }
    table tbody tr:hover{
        background-color:#a7a3a3;
    }
    /*scroll strong tbody*/
/*table tbody {
    display: block; 
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
}

table thead tr {
    display: block;
}*/
tr:nth-child(even) {
    background-color: #F5F5F5;
}
/*design scroll bar*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:#bbbbbb;
    border-radius:4px;
}


