.header {
    float: left;
    width: calc(100% - 221px);
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
    display: flex;
    background-color: #FFFFFF;
    padding: 12px 16px;
    box-sizing:border-box;
}
.select-restaurent {
    border: none;
    font-weight: bold;
    padding: 0 16px;
}

.header_region {
    display: flex;

}
/*.region_dropdown {
    margin-right: 10px;
}*/
.account_info {
    display: flex;
    align-items: center;
}
.account_avartar {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../content/icon/avatar-default.png');
}
.account_info .right_item {
    margin-left: 16px;
}


