input {
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    height:40px;
    box-sizing:border-box;
}
input:focus {
   
    border: 1px solid #019160;
    font-size:13px;
    color:#000000;
}
input::placeholder{
    font-size:11px;
}
.input-search{
    padding-left:40px;
    width:250px;
}
.error-border {
    border: 1px solid #FF4747;
}
.success-border {
    border: 1px solid #019160;
}