.navbar {
    float:left;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
}
    .navbar .logo-site, .navbar .logo-box {
        display: flex;
        width: inherit;
        height: 60px;
    }
    .navbar .logo-box{
        padding:12px 16px;
        box-sizing:border-box;
    }
        /*Logo page*/
        .navbar .logo-site .logo-box .toggle-icon {
            width: 24px;
            height: 24px;
            background-image: url('/content/img/toggle.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .navbar .logo-site .logo-box .amis-logo {
            margin-left:10px;
            width: calc(100% - 10px - 24px - 16px);/*10px: margin, 24px:icon, 16px:padding của logo-box*/
            height: 24px;
            background-image: url('/content/img/cukcuk-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    .navbar .navbar-content {
        width: 100%;
    }
        .navbar .navbar-content .nav-item {
            display:flex;
            width:100%;
            height:44px;
            padding:0 16px;
            line-height:44px;
        }
        .navbar .navbar-content .nav-item:hover {
            font-size: 13px;
            background-color: #e5e5e5;
            color: #000000;
        }
        .navbar .navbar-content .nav-item:focus {
            font-size: 13px;
            background-color: #019160;
            color: #019160;
        }
        .navbar .navbar-content .nav-item .nav-item-icon {
            background-image: url('/content/icon/document-online.png');
            width: 20px;
            height: 20px;
            background-size:contain;
            background-repeat:no-repeat;
            align-self:center;
            margin-right:8px;
        } 
