.filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border:1px solid #ccc;
}
.filter-bar .filter-left{
    
}
    .filter-bar .filter-right {
        position:absolute;

    }